@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --foreground-rgb: 0, 0, 0; */
  background: rgb(51, 17, 84);
  background: linear-gradient(
    227deg,
    rgba(51, 17, 84, 1) 35%,
    rgba(0, 0, 0, 1) 100%
  );
  height: 100%;
  color: white;
  padding: 0 10vw;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  line-height: 150%;
  letter-spacing: 0.05em;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --foreground-rgb: 255, 255, 255; */
    /* background: linear-gradient(to bottom right, purple, black); */
  }
}

body {
  /* color: rgb(var(--foreground-rgb)); */
  /* padding: 1rem; */
  /* background: linear-gradient(to bottom, purple, black); */
}

@layer base {
  h1 {
    @apply font-extrabold text-2xl mb-3;
  }
}
